/* ========================= */
/* LARGE MONITORS */
/* ========================= */

@media (min-width:1600px){

    .content{
        max-width:1600px;
        margin:auto;
    }

    .dashboard-grid{
        grid-template-columns:repeat(4,1fr);
    }
}


/* ========================= */
/* MENU BUTTON */
/* ========================= */

.menu-btn{

    display:none;

    border:none;

    background:none;

    font-size:22px;

    cursor:pointer;
}


/* ========================= */
/* MOBILE SIDEBAR */
/* ========================= */

@media(max-width:768px){

    .menu-btn{
        display:block;
    }

    .sidebar{

        left:-260px;
        transition:.3s;
        z-index:1000;
    }

    .sidebar.open{
        left:0;
    }

    .main-content{
        margin-left:0;
        width:100%;
    }
}